%nav.nav-global
  #nav-global.nav-collapse.baby-switch-content<
    %ul.nav-items.collapse><
      %li= link_to "Home", root_path
  .nav-mobile-switch.baby-only
    %a{ :href => "#nav-global", :data => {:switch => true, :"switch-toggle" => true} }><
      %span>< Show navigation
    %i><
    %i><
    %i><
